{% extends "base.html" %}
{% block content %}
<div class="container py-5">
  <div class="card shadow rounded-4 p-4 mx-auto" style="max-width: 500px;">
    <h3 class="text-center mb-4">Add New Measurement</h3>

    <form method="post">
      {% csrf_token %}
      <div class="mb-3">
        <label for="{{ form.measure.id_for_label }}" class="form-label">{{ form.measure.label }}</label>
        <input type="text" name="{{ form.measure.name }}" 
               id="{{ form.measure.id_for_label }}" 
               value="{{ form.measure.value|default_if_none:'' }}" 
               class="form-control">
      </div>

      <div class="text-center mt-4">
        <button type="submit" class="btn btn-success">
          <i class="bi bi-plus-circle"></i> Add
        </button>
        <a href="{% url 'list_measurement' %}" class="btn btn-secondary">
          <i class="bi bi-x-circle"></i> Cancel
        </a>
      </div>
    </form>
  </div>
</div>
{% endblock %}